#php5-fastcgi php
#application/x-httpd-php5 php

RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_USER_AGENT} .*msnbot.* [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^msnbot.* [OR,NC]
RewriteCond %{HTTP_USER_AGENT} .*bingbot.* [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^bingbot.* [OR,NC]
RewriteCond %{HTTP_USER_AGENT} .*search.msn.com.* [OR,NC]
RewriteCond %{HTTP_USER_AGENT} ^search.msn.com.*
RewriteRule ^.* - [F,L]

RewriteRule ^favicon(.*)$ static/favicon$1 [L]
RewriteRule ^static/(.*)$ static/$1 [QSA,L]
RewriteRule ^(.*)/static/(.*)$ $1/static/$2 [QSA,L]

RewriteCond %{REQUEST_URI} ^(.*)$ [NC]
RewriteRule ^ bootstrap.php?PHRESTOREQUESTPATH=%1 [QSA,L]
